@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
	body {
        --animation-order: 0;
		font-family: "Alexandria", serif;
	}
}

@layer utilities {
    .text-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Animation */
    .animate-fade-in {
        animation: fadeIn 1.2s ease-in-out calc(200ms * var(--animation-order)) forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    50% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}