---
import 'assets/css/main.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pham Thu | Full-stack Developer</title>
		<meta name="description" content="Portfolio of Pham Thu, a Full-stack developer, with experience in JavaScript, TypeScript, PHP, micro-services architecture...">
		<meta name="author" content="Pham Thu (zero2603)">
		<meta name="keywords" content="JavaScript,TypeScript,PHP,NodeJS,ExpressJS,ReactJS,React Native,HTML,CSS,NextJS,NestJS,Laravel,Redux,Bootstrap,TailwindCSS,jQuery,Shopify,Liquid,AWS,Google Cloud,Git,Docker,CI,CD,Heroku,MySQL,PostgreSQL,MongoDB,Redis,Postman,Figma">
		<meta property="og:title" content="Pham Thu | Full-stack Developer">
		<meta property="og:description" content="Portfolio of Pham Thu, a Full-stack developer, with experience in JavaScript, TypeScript, PHP, micro-services architecture...">
		<meta property="og:image" content="https://zero2603.github.com/preview.png">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Pham Thu | Full-stack Developer">
		<meta name="twitter:description" content="Portfolio of Pham Thu, a Full-stack developer, with experience in JavaScript, TypeScript, PHP, micro-services architecture...">
		<meta name="twitter:image" content="https://zero2603.github.com/preview.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body class="w-full h-full bg-dark-900">
		<slot />
	</body>
</html>
